* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 7rem;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 1.4rem;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5rem;
}
header a {
    padding: 2px 7px;
}
header a:hover {
    color: red;
}
.nav1 {
    padding-top: 3px;
    padding-left: 20%;
}
.nav1 ul li {
    float: left;
    padding-left: 50px;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    margin: 0;
}

.botton {
    background-color: rgb(255, 0, 0);
    font-size: 2rem;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    padding: 7px;
    color: aliceblue;
    font-family: sans-serif;
    border: 1px solid #333;
}

.botton:hover {
    background-color: rgb(153, 2, 2);
}

.info {
    background-color: rgb(255, 0, 0);
    font-size: 1rem;
    width: 80px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    padding: 4px;
    color: aliceblue;
    font-family: sans-serif;
    border: 1px solid #333;
}
.info:hover {
    background-color: rgb(153, 2, 2);
}

.header_container {
    width: 100%;
    padding: 2px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

header {
    background-color: #333;
}
.titulo {
    margin: 0px;
    padding: 3px 5px;
    font-size: 1rem;
    color: whitesmoke;
    float: right;
}
.header_cuatro {
    color: red;
}
header header.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
}

#banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 80vh;
    color: azure;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#quienes-somos {
    color: black;
}
.somos {
    color: red;
}
#quienes-somos .somos_container {
    text-align: center;
    padding: 70px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quienes-somos .somosparrafo {
    width: 50%;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#quienes-somos .foto-somos {
    background-image: url(/img/Quiénes-somos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 500px;
    border-radius: 30px;
    box-shadow: 5px 9px;
}

#quienes-somos p {
    padding-top: 30px;
}
#torneos-especiales {
    background-color: #333;
    color: aliceblue;
}
#torneos-especiales h2 {
    font-size: 3rem;
}

#torneos-especiales .container {
    padding: 40px;
    text-align: center;
}
#torneos-especiales .info {
    display: flex;
    justify-content: center;
    flex-direction: center;
    text-align: center;
    align-items: center;
}

.torneo-bonus {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/bonus.jpg");
    background-size: cover;
    background-position: center center;
    height: 200px;
    margin: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.torneo-vegas {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/vegas.jpg");
    background-size: cover;
    background-position: center center;
    height: 200px;
    margin: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.torneo-rio {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/rio.jpg");
    background-size: cover;
    background-position: center center;
    height: 200px;
    margin: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.torneo-luxor {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/luxor.jpg");
    background-size: cover;
    background-position: center center;
    height: 200px;
    margin: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
}

#jugaraca {
    width: 100%;
    height: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: black;
    padding: 20%;
}

.jugaya_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
}
.ya {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.botton3 {
    background-color: rgb(255, 0, 0);
    font-size: 1.5rem;
    width: 190px;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    color: aliceblue;
    font-family: sans-serif;
    border: 1px solid #333;
}
.botton3:hover {
    background-color: rgb(124, 6, 6);
}
footer {
    background-color: aliceblue;
    color: #333;
    width: 100%;
    height: 200px;
}
.footer_container {
    width: 100%;
    height: 200px;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: #333 1px solid;
}
footer ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: aliceblue;
    font-size: 15px;
    letter-spacing: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}
footer ul li a:hover {
    color: blue;
}
footer .cajafooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding-left: 50px;
    color: aliceblue;
}

footer .derechos {
    background-color: #333;
    height: 40px;
    color: azure;
    text-align: center;
}

/* TORNEOS PAGE */

.torneo_lunes {
    text-align: center;
    width: 100%;
    min-height: 500px;
    color: black;
}
.torneo_martes {
    background-color: #333;
    text-align: center;
    width: 100%;
    min-height: 500px;
    color: azure;
}
.torneo_miercoles {
    text-align: center;
    width: 100%;
    min-height: 500px;
    color: black;
}
.torneo_jueves {
    background-color: #333;
    text-align: center;
    width: 100%;
    min-height: 500px;
    color: azure;
}
.torneo_viernes {
    text-align: center;
    width: 100%;
    min-height: 500px;
    color: black;
}
.torneo_sabado {
    background-color: #333;
    text-align: center;
    width: 100%;
    min-height: 500px;
    color: azure;
}
.torneo_domingo {
    text-align: center;
    width: 100%;
    min-height: 500px;
    color: black;
}

/* CONTACTO PAGE */

.contacto {
    height: 50%;
    width: 50%;
    padding: 20px;
}
.contacto_form {
    color: #333;
    font-size: 1.5rem;
    padding-left: 80%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

/* CONTACTO RANKING */

#banner_ranking {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 50vh;
    color: azure;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/bannerranking.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner_ranking h1 {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

#rdorado {
    width: 100%;
    height: 800px;
    background-color: azure;
}
#rdorado .jugadores {
    text-align: center;
    padding: 70px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dorado {
    color: gold;
}

#rdorado h3 {
    font-size: 3rem;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
}

.rdorado_jugadores {
    background-color: aqua;
    height: 400px;
    width: 35%;
    color: black;
    font-size: 1.6rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 50px;
    margin: 50px;
}
.rdorado_puntos {
    background-color: rgb(253, 15, 15);
    height: 400px;
    width: 35%;
    color: black;
    font-size: 1.6rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 50px;
    margin: 50px;
}
#rplata {
    width: 100%;
    height: 800px;
    background-color: #333;
    color: azure;
}
#rplata .jugadores {
    text-align: center;
    padding: 70px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plata {
    color: silver;
}

#rplata h3 {
    font-size: 3rem;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
}

.rplata_jugadores {
    background-color: aqua;
    height: 400px;
    width: 35%;
    color: black;
    font-size: 1.6rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 50px;
    margin: 50px;
}
.rplata_puntos {
    background-color: rgb(253, 15, 15);
    height: 400px;
    width: 35%;
    color: black;
    font-size: 1.6rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 50px;
    margin: 50px;
}
#rbronce {
    width: 100%;
    height: 800px;
    color: black;
}
#rbronce .jugadores {
    text-align: center;
    padding: 70px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bronce {
    color: burlywood;
}

#rbronce h3 {
    font-size: 3rem;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
}

.rbronce_jugadores {
    background-color: aqua;
    height: 400px;
    width: 35%;
    color: black;
    font-size: 1.6rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 50px;
    margin: 50px;
}
.rbronce_puntos {
    background-color: rgb(253, 15, 15);
    height: 400px;
    width: 35%;
    color: black;
    font-size: 1.6rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 50px;
    margin: 50px;
}

/* FOTOS PAGE */

#banner_fotos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 50vh;
    color: azure;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/bannerfoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner_fotos h1 {
    color: rgb(255, 255, 255);
    font-size: 4rem;
}
.galeria h2 {
    text-align: center;
    color: black;
    margin: 8px;
}
.ultimosf {
    color: red;
}

.img-container {
    display: grid;
    padding: 80px;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 300px);
    grid-template-areas:
        "foto1 foto2 foto2 foto2"
        "foto1 foto3 foto4 foto4"
        "foto1 foto5 foto6 foto6";
}
.foto {
    border: 5px solid #333;
    border-radius: 10px;
}

.foto1 {
    grid-area: foto1;
    background-image: url(/img/foto1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    font-size: 20px;
}
.foto2 {
    background-image: url(/img/foto2.jpg);
    grid-area: foto2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.foto3 {
    background-image: url(/img/foto3.jpg);
    grid-area: foto3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.foto4 {
    background-image: url(/img/foto4.jfif);
    grid-area: foto4;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.foto5 {
    background-image: url(/img/foto5.jfif);
    background-position: center;
    grid-area: foto5;
    background-size: cover;
    background-repeat: no-repeat;
}
.foto6 {
    background-image: url(/img/foto6.jpg);
    grid-area: foto6;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* CONTACTO PAGE */

#banner_contacto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 40vh;
    color: rgb(169, 170, 170);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/banner-contacto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

form {
    width: 100%;
    background-color: aliceblue;
    padding: 15px;
    font-size: 1.5rem;
    text-align: center;
}

.footer_container_mobile{
    display: none;
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 29px;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1rem;
    }

    .titulo {
        font-size: 29px;
    }

    .header_container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #banner {
        height: 30vh;
    }

    .nav1 {
        padding: 0%;
        background: white;
        width: 100%;
    }

    a {
        color: black;
        float: none;
    }

    #quienes-somos .foto-somos {
        text-align: center;
        justify-content: center;
        padding: 0 center;
        margin: 0 center;
    }

    

    .nav1 ul li {
        float: none;
        padding-left: 5px;
        border: 2px solid black;
    }

    .botton {
        font-size: 1rem;
        width: 120px;
        margin-top: 5px;
    }

    .somosparrafo {
        width: auto !important;
        padding: 20px 0px !important;
    }

    .somos_container {
        flex-direction: column;
    }

    #quienes-somos .foto-somos {

        width: 100%;
    }
    
    .torneos{
        height: 500px !important;
        padding: 10px;
        width: 100%;
        margin-left: 0;
    }

    .container-torneos{
        height: 2280px;
        padding: 10px !important;
        
    }
    #jugaraca {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        color: black;
        padding: 20%;
    }
    
    .jugaya_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: black;
    }
    .footer_container {
        height: 500px;
        display: flex;
        flex-direction: column-reverse;
       
        
       
    }
    .footer_container ul li a{
        color: white;
        font-size: 10px;
    }
    .img-container {
        display: grid;
        padding: 80px;
        gap: 10px;
        justify-content: center;
        padding-top: 10px;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(6, 250px);
        grid-template-areas:
            "foto1 foto1"
            "foto2 foto2"
            "foto3 foto3"
            "foto4 foto4"
            "foto5 foto5"
            "foto6 foto6";
    }
    .foto {
        border: 2px solid #333;
        border-radius: 10px;
    }

    #rdorado {
        width: 100%;
        height: 1500px;
        background-color: azure;

    }
    #rdorado .jugadores {
        display: flex;
        flex-direction: column;

    
    }
    #rdorado .jugadores p{
        color: rgb(0, 0, 0);
        font-size: 15px;

    
    }

    .rdorado_jugadores {
        background-color: aqua;
        height: 400px;
        width: 100%;
        color: black;
        font-size: 1.6rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px;
        margin: 80px;
        padding-top: 100px;
    }
    .rdorado_jugadores h5{
        padding-bottom: 40px;
    }
    .rdorado_puntos {
        background-color: rgb(253, 15, 15);
        height: 400px;
        width: 100%;
        color: black;
        font-size: 1.6rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px;
        margin: 80px;
        padding-top: 100px;
    }

    .rdorado_puntos h5{
        padding-bottom: 40px;
    }


    #rplata {
        width: 100%;
        height: 1500px;
        background-color: #333;

    }
    #rplata .jugadores {
        display: flex;
        flex-direction: column;

    
    }
    #rplata .jugadores p{
        color: rgb(0, 0, 0);
        font-size: 15px;

    
    }

    .rplata_jugadores {
        background-color: aqua;
        height: 400px;
        width: 100%;
        color: black;
        font-size: 1.6rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px;
        margin: 80px;
        padding-top: 100px;
    }
    .rplata_jugadores h5{
        padding-bottom: 40px;
    }
    .rplata_puntos {
        background-color: rgb(253, 15, 15);
        height: 400px;
        width: 100%;
        color: black;
        font-size: 1.6rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px;
        margin: 80px;
        padding-top: 100px;
    }

    .rplata_puntos h5{
        padding-bottom: 40px;
    }

    #rbronce {
        width: 100%;
        height: 1500px;
        background-color: azure;

    }
    #rbronce .jugadores {
        display: flex;
        flex-direction: column;

    
    }
    #rbronce .jugadores p{
        color: rgb(0, 0, 0);
        font-size: 15px;

    
    }

    .rbronce_jugadores {
        background-color: aqua;
        height: 400px;
        width: 100%;
        color: black;
        font-size: 1.6rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px;
        margin: 80px;
        padding-top: 100px;
    }
    .rbronce_jugadores h5{
        padding-bottom: 40px;
    }
    .rbronce_puntos {
        background-color: rgb(253, 15, 15);
        height: 400px;
        width: 100%;
        color: black;
        font-size: 1.6rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px;
        margin: 80px;
        padding-top: 100px;
    }

    .rbronce_puntos h5{
        padding-bottom: 40px;
    }

    
 
  



    


   




    

    

   
   
   
}
